html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

body {
  text-align: center;
}

@import "./reset";
@import "./blocks/calendar";
@import "./blocks/calendar-days";
@import "./blocks/calendar-retreat";
