@import "./variables";

@mixin retreatBeforeFirstDay($day) {
  @if $day == tue {
    .calendar-#{$day} {
      & :first-child {
        margin-left: $day-size + $gap * 2;
      }
    }
  }

  @if $day == wed {
    .calendar-#{$day} {
      & :first-child {
        margin-left: ($day-size + $gap) * 2 + $gap;
      }
    }
  }

  @if $day == thu {
    .calendar-#{$day} {
      & :first-child {
        margin-left: ($day-size + $gap) * 3 + $gap;
      }
    }
  }

  @if $day == fri {
    .calendar-#{$day} {
      & :first-child {
        margin-left: ($day-size + $gap) * 4 + $gap;
      }
    }
  }

  @if $day == sat {
    .calendar-#{$day} {
      & :first-child {
        margin-left: ($day-size + $gap) * 5 + $gap;
      }
    }
  }

  @if $day == sun {
    .calendar-#{$day} {
      & :first-child {
        margin-left: ($day-size + $gap) * 6 + $gap;
      }
    }
  }
}
